/* 搜索框动画 */
.animation-search-box{
  animation: search-show 2s ease;
  animation-fill-mode: forwards;
}
@keyframes search-show {
  0%{
    width: 8%;
    opacity: 0;
    padding: 5px 10px;
    margin-top: -5px;
  }
  70%{
    opacity: 1;
  }
  100%{
    width: 100%;
    padding: 5px 10px;
    margin-top: -5px;
  }
}
/* 旋转动画 */
.animation-rotate-right{
  animation: rotate-custom-right 1s ease;
  animation-fill-mode: forwards;
}
.animation-rotate-left{
  animation: rotate-custom-left 1s ease;
  animation-fill-mode: forwards;
}
@keyframes rotate-custom-right {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
@keyframes rotate-custom-left {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(-360deg);
  }
}
/* 模态框动画 */
.animation-modal-in{
  animation: modal-in 1s ease;
  animation-fill-mode: forwards;
}
.animation-modal-out{
  animation: modal-out 1s ease;
  animation-fill-mode: forwards;
}
@keyframes modal-in {
  0%{
    height: 0%;
  }
  100%{
    height: 100%;
  }
}
@keyframes modal-out {
  0%{
    height: 100%;
  }
  100%{
    height: 0%;
  }
}