/* 搜索框动画 */
$search-box-bg: rgba(73, 73, 73, 0.2);

.animation-search-box {
  animation: search-show 1s linear;
  animation-fill-mode: forwards;
}

.animation-search-box-hide {
  animation: search-hide 1s linear;
  animation-fill-mode: forwards;
}

@keyframes search-show {
  0% {
    width: 0%;
    background-color: rgba(218, 218, 218, 0);
    padding: 5px 0;
    margin-top: -5px;
  }

  70% {
    background-color: $search-box-bg;
  }

  100% {
    width: 100%;
    padding: 5px 10px;
    margin-top: -5px;
    background-color: $search-box-bg;
  }
}

@keyframes search-hide {
  0% {
    width: 100%;
    padding: 5px 10px;
    margin-top: -5px;
    background-color: $search-box-bg;
  }

  30% {
    background-color: $search-box-bg;
  }

  100% {
    background-color: rgba(218, 218, 218, 0);
    padding: 5px 0;
    margin-top: -5px;
    width: 0%;
  }
}

/* 旋转动画 */
.animation-rotate-right {
  animation: rotate-custom-right 1s ease;
  animation-fill-mode: forwards;
}

.animation-rotate-left {
  animation: rotate-custom-left 1s ease;
  animation-fill-mode: forwards;
}

@keyframes rotate-custom-right {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-custom-left {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

/* 模态框动画 */
.animation-modal-in {
  animation: modal-in 1s ease;
  animation-fill-mode: forwards;
}

.animation-modal-out {
  animation: modal-out 1s ease;
  animation-fill-mode: forwards;
}

@keyframes modal-in {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes modal-out {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(100%);
  }
}

/* 弹出框动画 */
.animation-popBox-bg-in {
  animation: fadeIn 1s ease;
  animation-fill-mode: forwards;

  .animation-popBox-in {
    animation: zoomIn 1s ease;
    animation-fill-mode: forwards;
  }
}

.animation-popBox-bg-out {
  animation: fadeOut 1s ease;
  animation-fill-mode: forwards;

  .animation-popBox-out {
    animation: zoomOut 1s ease;
    animation-fill-mode: forwards;
  }
}

/* 推荐诗句移动动画 */
.animation-poem-move-up {
  animation: poem-move-up 1s ease;
  animation-fill-mode: forwards;
}

.animation-poem-move-down {
  animation: poem-move-down 1s ease;
  animation-fill-mode: forwards;
}

@keyframes poem-move-up {
  0% {
    position: relative;
    top: 0%;
  }

  100% {
    position: relative;
    top: -30%;
    //color: #f19fa2;
  }
}

@keyframes poem-move-down {
  0% {
    position: relative;
    top: -30%;
  }

  100% {
    position: relative;
    top: 0%;
  }
}

/* 页面划入划出 */
.animation-back-out {
  animation: fadeInLeft 1s ease;
  animation-fill-mode: forwards;
}

.animation-back-in {
  animation: fadeInRight 1s ease;
  animation-fill-mode: forwards;
}

.animation-content-poem-in {
  animation: fadeInDown 1.5s ease;
  animation-fill-mode: forwards;
}

.animation-content-introduce-in {
  animation: fadeInUp 1.5s ease;
  animation-fill-mode: forwards;
}

.animation-above-in {
  animation: fadeInUp 5s linear;
  animation-fill-mode: forwards;
}

// .slide-left-enter {
//   opacity: 0;
//   //transform: translate(30px, 0);
// }

// .slide-left-enter-active {
//   transition: all 0.3s ease;
// }

// .slide-left-leave-to {
//   opacity: 0;
//   // transform: translate(-30px, 0);
// }

// .slide-left-leave-active {
//   transition: all 0.3s ease;
// }
// 背景移动
@keyframes bg-pan-left {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
